<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cấp lại mật khẩu mới - ATTEND 3D</title>
    </head>
  <body>
        <table>
            <tr>
                <td>
                    <strong>Chào bạn,</strong>
                    <p>Mật khẩu mới của bạn là: <strong>{{ new_password }}</strong></p>
                    <p>Vui lòng đăng nhập với hệ thống để kích hoạt lại mật khẩu.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Trân trọng,</p>
                    <p><strong>ATTEND 3D</strong></p>
                    <p>Website: <a href="https://attend3d.io">attend3d.io</a></p>
                    <p>Phone number: 0825 025 347</p>
                    <p>
                        Email:
                        <a href="mailto:zephyrnguyen.vn@gmail.com"
                        >zephyrnguyen.vn@gmail.com</a
                        >
                    </p>
                    <hr />
                    <p>&copy; 2025 ATTEND 3D. All rights reserved.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
