<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thông báo phân công môn học/lớp học - ATTEND 3D</title>
    </head>
  <body>
        <table>
            <tr>
                <td>
                    <strong>Chào bạn {{ fullName }},</strong>
                    <p>Bạn vừa được Giáo vụ khoa phân công dạy môn học: 
                        <strong>{{ assignmentSubject }}</strong>
                        cho lớp {{ assignmentClass }}
                    </p>
                    <p>
                        Mọi chi tiết vui lòng liên hệ với Giáo vụ khoa để thông tin thêm.
                    </p>
                    <p>Xin cảm ơn!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Trân trọng,</p>
                    <p><strong>ATTEND 3D</strong></p>
                    <p>Website: <a href="https://attend3d.io">attend3d.io</a></p>
                    <p>Phone number: 0825 025 347</p>
                    <p>
                        Email:
                        <a href="mailto:zephyrnguyen.vn@gmail.com"
                        >zephyrnguyen.vn@gmail.com</a
                        >
                    </p>
                    <hr />
                    <p>&copy; 2025 ATTEND 3D. All rights reserved.</p>
                </td>
            </tr>
        </table>
    </body>
</html>
